
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    background: #E5E5E5;
}
.logo {
    margin-left: 15px;
    padding-top: 5px;
    width: 2%;
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.text-area{
    color: #0A3871;
    border: none;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder {color: #0A3871;}
    .text-area:focus{
        outline: none;
    }
    .mensagem{
        background: white;
        background-image: url(imagens/dragao.jpg);
        border: none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 25px;
        color: #0A3871;
        margin-left: 98px;
        margin-top: 20px;
        padding-left: 20px;
        position: fixed;
    }
    .mensagem:focus{
        outline: none;
    }
    .botoes {
        display: flex;
        margin-top: 60px;
        
       
    }
    .btn-principal{
        border: solid 2px;
        border-radius: 10px;
        margin-left: 20px;
        background: #0A3871;
        color: white;
        border-color: #0A3871;
        width: 328px;

    }
    .btn-principal:hover{
        color: #0A3871;
        background: white;
        transition: all 1s;
    }
    .btn-descriptografar {
        border: solid 2px;
        margin-left: 30px;
        border-radius: 10px;
        color: #0A3871;
        border-color: #0A3871;
        width: 328px;
    }
    .btn-descriptografar:hover,.copiar:hover{
        color: white;
        background: #0A3871;
        transition: all 1s;
    }
    .copiar {
        border: solid 2px;
        margin-left: 30px;
        border-radius: 10px;
        color: #0A3871;
        border-color: #0A3871;
        position: fixed;
        margin-top: 440px;
        margin-left: 120px;
        width: 320px;
        cursor: pointer;
    }
    h6 {
        color: #3CB371;
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 60px;
    }
    
    /* Responsividade do site */
@media screen and (max-width:480px) {
    * {
        box-sizing: border-box;
        
       
       
    }
    header{
        padding: 0;
        margin: 0;
        margin-left: 0;
        
    }
   
    main{
        display: block;
        padding: 0;
        margin: 0;
        
    }
    .text-area{
        height: 100px;
        width: 100%;
    }
    .logo {
        margin-left: 0;
       
    }
    .botoes{
        display: block;

    }
    .btn-principal {
        margin-left: 0px;
        width: 100%;
       
    }
    .btn-descriptografar{
        margin-left: 0px;
        margin-top: 5px;
        width: 100%;
        
    
    }

    .mensagem {
        height: 250px;
        position: static;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        
        

    }
    .copiar {
        margin-top: 0;
        margin-left: 0;
        position: static;
        width: 100%;
    }
    }
    @media screen and (max-width:900px) {
        * {
            box-sizing: border-box;
            
           
           
        }
        header{
            padding: 0;
            margin: 0;
            margin-left: 0;
            
        }
       
        main{
            display: block;
            padding: 0;
            margin: 0;
            
        }
        .text-area{
            height: 100px;
            width: 100%;
        }
        .logo {
            margin-left: 0;
           
        }
        .botoes{
            display: block;
    
        }
        .btn-principal {
            margin-left: 0px;
            width: 100%;
           
        }
        .btn-descriptografar{
            margin-left: 0px;
            margin-top: 5px;
            width: 100%;
            
        
        }
    
        .mensagem {
            height: 450px;
            position: static;
            margin-left: 0;
            padding-left: 0;
            width: 100%;
            
            
    
        }
        .copiar {
            margin-top: 0;
            margin-left: 0;
            position: static;
            width: 100%;
        }
        
       
}